<named-body-content>
  <@a>AAA broken</@a>
  <@b>BBB broken</@b>
</named-body-content>

<named-body-content-workaround>
  <@a>AAA working</@a>
  <@b>BBB working</@b>
</named-body-content-workaround>

<unnamed-body-content>
  CCC broken
</unnamed-body-content>

<unnamed-body-content-workaround>
  CCC working
</unnamed-body-content-workaround>
